@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -100;
}
main {
    width: 80%;
    margin: auto;
    text-align: center;
}
header {
    font-family: 'Abril Fatface', cursive;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
}
nav ul li {
    display: inline;
    font-size: 35px;
    padding: 10px;
}
h1 {
    margin-top: 120px;
    font-size: 80px;
    font-family: 'Abril Fatface', cursive;
}
i {
    font-size: 100px;
}h2 {
    font-family: 'Poppins', sans-serif;
}
button {
    padding: 15px;
    border-radius: 20px;
    margin: 15px;
    width: 150px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
#book {
    padding: 15px;
    background: rgb(253,73,7);
    margin: 15px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border: 3px solid rgb(255,255,255);
}
#food {
    color: #fff;
    background: rgb(253,73,7);
    border: 3px solid #fff;
}
#special {
    background: transparent;
    color: rgb(253,73,7);
    border: 3px solid rgb(253,73,7);
}
#special:hover, #food:hover, #book:hover {
    background: #fff;
    color: rgb(253,73,7);
    transition: 0.5s;
    border: 3px solid rgb(253,73,7);
    
}
nav ul li a:hover {
    color: rgb(253,73,7);
    cursor: pointer;
    transition: 0.5s;
}
#form-container {
    width: 50%;
    border: 5px solid rgb(253,73,7);
    margin: auto;
    margin-top: 50px;
    height: 500px;
}
form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 50px;
}
input[type="text"], input[type="tel"] {
    padding: 10px;
    border: 1px solid rgb(253,73,7);
    margin: 10px;
}
textarea {
    margin: 10px;
}
#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    color: #fff;
}
@media(max-width:780px) {
    header {
        flex-direction: column;
        width: 100%;
    }
    nav ul li {
        display: block;
        font-size: 30px;
        padding: 5px;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 50px;
        margin-top: 100px;
    }
    h2 {
        font-size: 20px;
    }
    #gallery {
        grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    }
    #form-container {
        width: auto;
        border: 5px solid rgb(253,73,7);
        margin: auto;
        margin-top: 50px;
        height: 500px;
    }
}




















